# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target/
.DS_Store
node_modules/
logs/
*.log
.project
*.classpath
*.class
.settings
*-local-config.properties
package-lock.json
app/
